<nav class="navbar">
  <ul>
    <li><LinkTo @route="index">Home</LinkTo></li> 
    <li><LinkTo @route="video">Simple Notes</LinkTo></li>
    <li><LinkTo @route="voice-ai">Notes AI</LinkTo></li>
  </ul>
</nav>
