<div class="instruction-panel">
  <h2>Explanation</h2>
  <ul>
    <li>The first option "Simple Notes" is a simple page that captures audio through the MediaStream Recording API and uses the Web Speech API to perform the transcription. 
      This model is quite inefficient because the transcription is not accurate and requires some elements from the user. </li>
    <li>The second example will use a backend to process the audio and send it to the OpenAI API to receive the transcription and display it on the page.</li>
  </ul>
</div>
